<style>
    .learn-translation {
        display: none;
        position: relative;
        width: 100%;
        left: 0;
        z-index: 1000;
        min-width: 160px;
        padding: 0;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
    }

    .learn-translation:before {
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        left: 16px;
        z-index: 10;
    }

    .learn-translation:after {
        content: "";
        border-bottom: 12px solid #ccc;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        position: absolute;
        top: -12px;
        left: 14px;
        z-index: 9;
    }

    .learn-translation li {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        padding: 5px 10px;
    }

    .learn-translation li:last-child {
        border-bottom: none;
    }

    .progress-msg span {
        display: block;
    }

    .progress-msg span:first-child {
        border-bottom: 1px solid #333333;
        padding-bottom: 3px;
    }

    .progress-msg span:last-child {
        padding-top: 5px;
    }

    #edit-word {
        display: none;
    }

    .progress {
        margin-bottom: 0;
        border-radius: 0;
    }
    .progress .progress-bar {
        text-align: right;
        padding-right: 5px;
    }
    .status-inside{
        display: none;
        font-size: 12px;
    }
    .status-outside {
        font-size: 12px;
        padding-left: 5px;
        line-height: 20px;
    }
</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Practice Translation.</h4>
        </div>
        <div id="practice-words">
            <div class="progress" data-total-word-number="{{ sheetWords|length }}">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:0%">
                    <span class="status-inside">
                        <span class="current-word-number">1</span> (<span id="total-word-number">{{ sheetWords|length }}</span>)
                    </span>
                </div>
                <span class="status-outside">
                    <span class="current-word-number">1</span> (<span>{{ sheetWords|length }}</span>)
                </span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        {% for sheetWord in sheetWords|slice(0, 1) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 id="word" class="panel-title pull-left">
                                        {{ sheetWord.word.word }}
                                    </h3>
                                <span id="edit-word" class="pull-right glyphicon glyphicon-pencil" aria-hidden="true"
                                      data-vocabulary-id="{{ vocabulary.vocabularyId }}"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <ul id="view-translations" class="learn-translation">
                                {% for sheetWordTranslation in sheetWord.sheetWordTranslations %}
                                    <li>
                                        {{ sheetWordTranslation.translation.translation }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div id="input-translation-group" class="form-group">
                                <label class="control-label" for="input-translation">Input translation</label>

                                <div class="input-group">
                                    <input id="input-translation" type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default add-translation" type="button">
                                            <span id="next-word" class="glyphicon glyphicon-share-alt"
                                                  aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: left; line-height: 35px; font-size: 12px;">
                    <span id="success-count" class="badge alert-success">0</span> / <span id="error-count" class="badge alert-danger">0</span>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <div id="edit-word-form">

        </div>
    </div>
</div>

<script>

    var word = 0;
    var successWordsCount = 0;
    var errorWordsCount = 0;
    var words = [];

    {% for sheetWord in sheetWords %}
    words.push({
        id: '{{ sheetWord.sheetWordId }}',
        word: '{{ sheetWord.word.word }}',
        translations: [{% for sheetWordTranslation in sheetWord.sheetWordTranslations %}'{{ sheetWordTranslation.translation.translation }}',{% endfor %}]
    });
    {% endfor %}

    $('#input-translation').keypress(function (e) {
        if (e.which == 13) {
            $('#next-word').click();
        }

        return;
    });

    $('#next-word').click(function () {
        if ((
                $('#input-translation').val() == ''
                && (
                    $('#input-translation-group').hasClass('has-error')
                    || $('#input-translation-group').hasClass('has-success')
                )
            )
            || $('#input-translation-group').hasClass('has-error')
            || $('#input-translation-group').hasClass('has-success')
        ) {
            showNextWord();
            $('#edit-word').hide();
            return;
        }

        var isCorrect = false;
        var inputtedTranslation = $('#input-translation').val().charAt(0).toLowerCase() + $('#input-translation').val().slice(1);

        for (var i = 0; i < words[word].translations.length; i++) {
            var translation = words[word].translations[i].replace('&#039;', '\'');

            if (translation == inputtedTranslation) {
                isCorrect = true;
            }
        }

        showTranslations();
        $('#edit-word').show();

        if (isCorrect) {
            $('#input-translation-group').addClass('has-success');
            $('#success-count').text(parseInt($('#success-count').text()) + 1);
            saveWordStatus(words[word].id, 1);
        } else {
            $('#input-translation-group').addClass('has-error');
            saveWordStatus(words[word].id, 0);
            $('#error-count').text(parseInt($('#error-count').text()) + 1);
        }

        return;
    });

    $('#edit-word').click(function () {
        $.ajax({
            method: 'GET',
            url: '/tree/vocabulary/' + $(this).data('vocabulary-id') + '/sheet/word/' + words[word].id + '/edit/form/',
            success: function (data) {
                $('#practice-words').hide();
                $('#edit-word-form').html(data);
                $('#word-form').ajaxForm({
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#word').text($('#word_word').val());
                            var translations = [];
                            $.each($('#translations input[type=text]'), function(key,value){
                                translations.push($(value).val());
                            });
                            words[word].translations = translations;
                            showTranslations();
                            $('#practice-words').show();
                            $('#edit-word-form').html('');
                            $('#input-translation').focus();
                        }
                    }
                });
            }
        });
    });

    function showTranslations() {
        var translations = '';
        for (var i = 0; i < words[word].translations.length; i++) {
            translations += '<li>' + words[word].translations[i] + '</li>';
        }
        $('#view-translations').html(translations).show();
    }

    function showNextWord() {
        var progress = (word + 1) / $('.progress').data('total-word-number') * 100;

        if(progress < 50) {
            $('.status-inside').hide();
            $('.status-outside').show();
        } else {
            $('.status-inside').show();
            $('.status-outside').hide();
        }

        $('.progress-bar').css({width: progress + '%'});
        $('.learning-progress').val(word + 1).trigger('change');
        $('.current-word-number').html(word + 1);

        if (word < words.length) {
            word++;
            $('#view-translations').hide();
            $('#input-translation-group').removeClass('has-success').removeClass('has-error');
            $('#word').text(words[word].word);
            $('#input-translation').val('');
        }
    }

    function saveWordStatus(id, status) {
        $.ajax({
            method: 'POST',
            url: '/tree/sheet-word/' + id + '/status/' + status + '/add/'
        });
    }

    $('#input-translation').focus();

    function modalRemove() {
        location.reload();
    }
</script>
