<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vocabulary builder.{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% stylesheets '@normalize_css' '@bootstrap_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .container {
            max-width: 800px;
        }
        .header {
            margin-bottom: 30px;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 20px;
        }
        .header, .footer {
            padding-left: 0;
            padding-right: 0;
        }
        .header h3 {
            line-height: 40px;
            margin-bottom: 0;
            margin-top: 0;
        }
        .footer {
            border-top: 1px solid #e5e5e5;
            color: #777;
            padding-top: 19px;
            margin-top: 30px;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% set route = app.request.attributes.get('_route') %}
                    <li {% if route == 'home' %}class="active"{% endif %} role="presentation">
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    {% if not is_granted('ROLE_USER') %}
                        <li {% if route == 'user_registration' %}class="active"{% endif %} role="presentation">
                            <a href="{{ path('user_registration') }}">Registration</a>
                        </li>
                        <li {% if route == 'user_login' %}class="active"{% endif %} role="presentation">
                            <a href="{{ path('user_login') }}">Log in</a>
                        </li>
                    {% else %}
                        <li {% if route == 'vocabulary' %}class="active"{% endif %} role="presentation">
                            <a href="{{ path('vocabulary') }}">Vocabulary</a>
                        </li>
                        <li {% if route == 'user_logout' %}class="active"{% endif %} role="presentation">
                            <a href="{{ path('user_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">Vocabulary Builder</h3>
        </div>

        {% block content %}{% endblock %}

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
    </div>
    {% javascripts '@jquery' '@bootstrap_js' '@jquery_form' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</body>
</html>