{% if sheet %}
    <style>
        table .translations span:after {
            content: ";";
        }
        table .translations span:last-child:after {
            content: "";
        }
    </style>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Word</th>
            <th>Translation</th>
            <th style="width: 60px;">State</th>
            <th style="width: 75px;">Created</th>
            <th style="text-align: right; width: 60px;">
                <a href="#">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for sheetWord in sheet.sheetWord %}
            <tr>
                <td>{{ sheetWord.word.word }}</td>
                <td class="translations">
                    {% for sheetWordTranslation in sheetWord.sheetWordTranslations %}
                        <span>{{ sheetWordTranslation.translation.translation }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if sheetWord.translationStatistic > 0 %}
                        <span class="badge alert-success">{{ sheetWord.translationStatistic }}</span>
                    {% elseif sheetWord.translationStatistic < 0 %}
                        <span class="badge alert-danger">{{ sheetWord.translationStatistic|abs }}</span>
                    {% else %}
                        <span class="badge">0</span>
                    {% endif %}
                </td>
                <td>
                    {{ sheetWord.createdOn|date("H:i:s") }}
                </td>
                <td>
                    <span class="glyphicon glyphicon-pencil load-modal" aria-hidden="true" data-method="post"
                          data-url="{{
                              path(
                                  'sheet_word_edit',
                                  {
                                      'vocabularyId': vocabulary.vocabularyId,
                                      'sheetId': sheet.sheetId,
                                      'sheetWordId': sheetWord.sheetWordId
                                  }
                              )
                          }}"
                    ></span>
                    <span class="glyphicon glyphicon-trash link-as-form" aria-hidden="true" data-method="delete"
                          data-url="{{
                              path(
                                  'sheet_word_delete',
                                  {
                                      'vocabularyId': vocabulary.vocabularyId,
                                      'sheetId': sheet.sheetId,
                                      'sheetWordId': sheetWord.sheetWordId
                                  }
                              )
                          }}"
                    ></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary load-modal"
            data-url="{{
                path(
                    'vocabulary_word_add',
                    {'vocabularyId': vocabulary.vocabularyId, 'sheetId': sheet.sheetId}
                )
            }}">
        Add word
    </button>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Learn words <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" class="load-modal"
                   data-url="{{
                       path(
                           'remember_word_new_and_not_passed',
                           {'vocabularyId': vocabulary.vocabularyId, 'sheetId': sheet.sheetId}
                       )
                   }}"
                        >Not passed</a>
            </li>
            <li>
                <a href="#" class="load-modal"
                   data-url="{{
                       path(
                           'remember_word_all',
                           {'vocabularyId': vocabulary.vocabularyId, 'sheetId': sheet.sheetId}
                       )
                   }}"
                        >All words</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Practice Translation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" class="load-modal"
                    data-url="{{
                        path(
                            'practice_translation_new_and_not_passed',
                            {'vocabularyId': vocabulary.vocabularyId, 'sheetId': sheet.sheetId}
                        )
                    }}"
                >Not passed</a>
            </li>
            <li>
                <a href="#" class="load-modal"
                   data-url="{{
                       path(
                           'practice_translation_all',
                           {'vocabularyId': vocabulary.vocabularyId, 'sheetId': sheet.sheetId}
                       )
                   }}"
                >All words</a>
            </li>
        </ul>
    </div>
{% else %}
    <div role="alert" class="alert alert-info">
        <strong>Info!</strong> For adding words you need to create a Sheet.
    </div>
{% endif %}
